<div class="p-4 bg-info about-general-info">
    <img src="../assets/img/Deni Ninkovic_CV_B&W.png" class="img-fluid" alt="Profile photo">
    <div class="mt-3 text-white-50">
        <h3>General Information</h3>
    </div>
    <div class="ml-3 text-white-50">
        <p>
            Name:<span class="text-white"> Deni Ninkovic</span>
        </p>
        <p>
            Location:<span class="text-white"> Doboj, B&H</span>
        </p>
        <p>
            Date of Birth:<span class="text-white"> January 1, 1988</span>
        </p>
    </div>
</div>
