<div class="p-4 bg-info about-general-info">
    <img src="../assets/img/Deni Ninkovic_CV_B&W.png" class="img-fluid" alt="Profile photo">
    <div class="mt-3 text-white-50">
        <h3>General Information</h3>
    </div>
    <div class="ml-3 text-white-50 ">
        <div class="d-inline-flex">
            <p class="mr-1">Name:</p>
            <p class="text-white">Deni Ninkovic</p>
        </div>
        <br/>
        <div class="d-inline-flex">
            <p class="mr-1">Location:</p>
            <p class="text-white">Doboj, Bosnia and Herzegovina</p>
        </div>
        <br/>
        <div class="d-inline-flex">
            <p class="mr-1">Date of birth:</p>
            <p class="text-white">January 1, 1988</p>
        </div>
    </div>
    <app-skills></app-skills>
</div>
