.bg-image {
  background-image: url("../../../assets/img/Background.png");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

app-general-information {

}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  text-align: center;
  padding: 50px;
}

.about-subtitle {
  text-align: left;
}

.about-details {
  text-align: left;
}

.row {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 991px) {

  .container {
    min-height: 100%;
    flex-direction: column;
  }
  .about-subtitle {
    text-align: center;
  }

  .about-details {
    text-align: center;
  }

}
