<div class="container">
    <div class="about-content text-black-50">
        <fa-icon [icon]="faJava" size="4x"></fa-icon>
        <h2 class="text-dark mb-lg-5 about-title">Full Stack Java Developer</h2>
        <h3 class="mb-5 about-subtitle">About me</h3>
        <p class="about-details">For the last 18 months, I am working as a Full Stack Java Developer in international teams
            following the Agile
            principle and Clean code. I'm constantly seeking ways to acquire new and advanced skills and I want to stay in trend
            with the web development community.</p>
        <div class="social-networks">
            <a href="https://www.linkedin.com/in/deni-ninkovic-5737a619b/" target="_blank">
                <fa-icon [icon]="faLinkedin" size="3x" style="color: #2867B2"></fa-icon>
            </a>
            <a href="https://www.facebook.com/deni.ninkovic/" target="_blank">
                <fa-icon [icon]="faFacebook" size="3x" style="color: #4267B2"></fa-icon>
            </a>
            <a href="https://www.instagram.com/deni_n/" target="_blank">
                <fa-icon [icon]="faInstagram" size="3x" style="color: #F56040"></fa-icon>
            </a>
        </div>
    </div>
</div>
