<div class="social-networks">
    <a href="https://www.linkedin.com/in/deni-ninkovic-5737a619b/" target="_blank">
        <fa-icon [icon]="faLinkedin" size="3x" style="color: #2867B2"></fa-icon>
    </a>
    <a href="https://www.facebook.com/deni.ninkovic/" target="_blank">
        <fa-icon [icon]="faFacebook" size="3x" style="color: #4267B2"></fa-icon>
    </a>
    <a href="https://www.instagram.com/deni_n/" target="_blank">
        <fa-icon [icon]="faInstagram" size="3x" style="color: #F56040"></fa-icon>
    </a>
</div>
