.experience-container {
  display: flex;
  flex-direction: row;
}

.icon {
  text-align: center;
}

.custom-table {
  width: 100%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-border-bottom {
  border-bottom: 5px solid #dee2e6;
}

@media screen and(max-width: 991px) {
  .custom-table {
    margin: 0;
  }
  .icon {
    margin-top: 50px;
  }
  h1 {
    font-size: 1.8rem;
  }
}
